.customTooltip {
  //   background: var(--primary-dark-900);
  //   border: 1px solid var(--primary-200);
  background: green;
  border: rebeccapurple;
  box-shadow: var(--shadow-md);
  transition: none !important;
  z-index: 10;
  padding: 8px !important;
  max-width: 300px;
  font-weight: 400;
  text-align: start;
  word-wrap: break-word;
  white-space: break-spaces;
  word-break: break-word;

  [class*="react-tooltip-arrow"] {
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    // border-bottom: 1px solid var(--primary-200);
    // border-right: 1px solid var(--primary-200);
    border-bottom: 1px solid lightskyblue;
    border-right: 1px solid yellow;
  }

  &[class*="react-tooltip__place-bottom"] [class*="react-tooltip-arrow"] {
    // border-top: 1px solid var(--primary-200);
    // border-left: 1px solid var(--primary-200);
    border-top: 1px solid lightskyblue;
    border-left: 1px solid yellow;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
  }
}
