.badgeContainer {
  position: relative;
  width: fit-content;
  color: var(--light-primary);
}

.badge {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
}
