:root {
  --primary: #10a8c9;
  --light-primary: #11b7db;
  --dark-primary: #0e97b5;
  --ultra-light-primary: #e8f7fa;
  --grey: #9ca4b3;
  --light-grey: #d7dbe2;
  --dark-grey: #515b6c;
  --white: #fff;
  --orange: #f2994a;
  --dark-orange: #ff8437;
  --green: #03d087;
  --dark-green: #219653;
  --red: #d82045;
  --inherit: inherit;
}
