.home {
  display: flex;
  flex-direction: column;
  gap: 25px;

  .searchInput {
    max-width: 350px;
    stroke: var(--light-primary);
  }

  .productsList {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }
}
