.pageTransition-enter {
  opacity: 0;
  z-index: 1;
  transition: none;
}
.pageTransition-enter.pageTransition-enter-active {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}
.pageTransition-exit {
  opacity: 1;
  transition: none;
}
.pageTransition-exit.pageTransition-exit-active {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
