.header {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 5rem;
  background-color: var(--light-primary);
  color: var(--white);
  justify-content: space-between;
  margin-bottom: 1rem;

  .usernameAndCart {
    display: flex;
    align-items: center;
    gap: 10px;
    stroke: white;
  }
}
