.header {
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 10rem;
  background-color: var(--light-primary);
  color: var(--white);
  justify-content: space-between;

  .buttonsContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    stroke: white;
  }
}
