.product {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.123);
  box-shadow: var(--shadow-card);
  border-radius: 10px;
  flex: 1 1 calc(350px - 25px);
  min-height: 350px;
  min-width: 200px;

  &:hover {
    translate: 0 -15px;
    box-shadow: var(--shadow-card-hover);
  }
}

.productCategory {
  width: 100%;
  display: flex;
  justify-content: space-between;
  stroke: var(--grey);
  color: var(--grey);
}

.imageContainer {
  height: 15rem;
  width: 100%;
  position: relative;
}

.productImg {
  object-fit: contain;
}

.productTitle {
  text-align: center;
  color: var(--light-primary);
}

.ratingAndPrice {
  display: flex;
  margin-top: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

[data-theme="dark"] {
  .product {
    background-color: #0d1b2a;
  }

  .productTitle {
    color: var(--dark-grey);
  }
}
